<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
				<binding name="WSHttpBinding_IDownloadService" messageEncoding="Text" maxReceivedMessageSize="800000">
					<readerQuotas maxArrayLength="800000"/>
				</binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://excalibur-g770/DownloadService/DownloadService.svc/DownloadService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDownloadService"
                contract="DownloadService.IDownloadService" name="WSHttpBinding_IDownloadService">
                <identity>
                    <servicePrincipalName value="host/EXCALIBUR-G770" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>