<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttp" messageEncoding="Text"/>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehaviour" name="DownloadService.DownloadService">
				<endpoint address="DownloadService" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="DownloadService.IDownloadService"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8087"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/>
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>